/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 1em;
  font-family: Helvetica, Arial; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  outline: none; }

canvas, svg {
  position: absolute;
  cursor: none; }

html, body {
  height: 100%;
  width: 100%;
  background-color: #fff8d9; }

.container {
  height: 100%;
  position: relative;
  overflow: hidden; }

svg {
  top: 0;
  left: 0;
  z-index: 5; }

#soundbar {
  position: fixed;
  bottom: 0;
  z-index: 999;
  height: 80px;
  width: 100%;
  background-color: #323440;
  border-top: 4px solid #ebac59;
  opacity: 0.7;
  transition: opacity 0.3s; }
<<<<<<< HEAD
  #soundbar #soundbar-search {
    padding: 5px;
    width: 300px; }
    #soundbar #soundbar-search input {
=======
  #soundbar:hover #search-results {
    opacity: 1; }
  #soundbar #search-results {
    background-color: #ffcc8a;
    width: 300px;
    position: absolute;
    bottom: 80px;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s; }
    #soundbar #search-results li {
      color: #323440;
      font-family: Montserrat, sans-serif;
      padding: 10px 0;
      border-bottom: 1px solid #ebac59;
      cursor: pointer; }
      #soundbar #search-results li:first-line {
        font-size: 120%; }
      #soundbar #search-results li:hover {
        color: #fff; }
  #soundbar #soundbar-search {
    padding: 0 5px;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    position: absolute; }
    #soundbar #soundbar-search input {
      background-color: transparent;
>>>>>>> ee0f4cea962bcab3de4abc120fd173b38cfb2cf8
      width: 100%;
      height: 100%;
      padding: 10px;
      border: 0;
<<<<<<< HEAD
      box-sizing: border-box; }
=======
      box-sizing: border-box;
      font-family: Montserrat, sans-serif;
      font-size: 34px;
      color: #FFF;
      position: absolute; }
  #soundbar #sc {
    position: absolute;
    right: 5px;
    padding: 20px 10px; }
>>>>>>> ee0f4cea962bcab3de4abc120fd173b38cfb2cf8
  #soundbar:hover {
    opacity: 1; }
