@import 'base';

* {
	outline: none;
}

canvas, svg {
	position: absolute;
	cursor: none;
}

html,
body {
	height: 100%;
	width: 100%;
	background-color: #fff8d9;
	font-family: Montserrat, sans-serif;
}

.container {
	height: 100%;
	position: relative;
	overflow: hidden;
}

svg {
	top: 0;
	left: 0;
	z-index: 5;
}

#soundbar {
	position: fixed;
	bottom: 0;
	z-index: 999;
	height: 80px;
	width: 100%;
	background-color: #323440;
	border-top: 4px solid #ebac59;
	opacity: .7;
	transition: opacity .3s;

	&:hover {
		#search-results {
			opacity: 1;
		}
	}

	#search-results {
		background-color: #ffcc8a;
		width: 300px;
		position: absolute;
		bottom: 80px;
		padding: 10px;
		opacity: 0;
		transition: opacity .3s;

		li {
			color: #323440;
			padding: 10px 0;
			border-bottom: 1px solid rgb(235, 172, 89);
			cursor: pointer;

			&:first-line {
				font-size: 120%;
			}

			&:hover {
				color: #fff;
			}
		}
	}

	#soundbar-search {
		padding: 0 5px;
		width: 50%;
		height: 100%;
		box-sizing: border-box;
		position: absolute;

		input {
			background-color: transparent;
			width: 100%;
			height: 100%;
			padding: 10px;
			border: 0;
			box-sizing: border-box;
			font-size: 34px;
			color: #FFF;
			position: absolute;
		}
	}

	#song {
		width: 400px;
		height: 80px;
		color: #FFF;
		margin: 0 auto;

		.thumb {
			width: 80px;
			height: 80px;
			float: left;
			margin-right: 10px;

			img {
				width: 100%;
				height: 100%;
			}
		}

		.title {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 16px;
			letter-spacing: 6px;
			margin-top: 6px;
		}

		.artist {
			margin-top: 6px;
			font-size: 12px;
		}
	}

	#sc {
		position: absolute;
		right: 5px;
		padding: 20px 10px;
		margin: -80px 50px 0 0;
	}

	&:hover {
		opacity: 1;
	}
}

#modal {
	position: absolute;
	width: 50%;
	height: 50%;
	background-color: rgba(0,0,0,.5);
	z-index: 100;
	padding: 30px;
	color: #FFF;
	margin: -12.5% 0 0 -25%;
	top: 50%;
	left: 50%;

	h1 {
		font-size: 25px;
		text-transform: uppercase;
		letter-spacing: 6px;
	}

	p {
		font-size: 14px;
		margin-top: 20px;
	}

	a {
		text-decoration: none;
		background-color: #323440;
		padding: 14px 0;
		width: 100%;
		text-align: center;
		color: #ffcc8a;
		line-height: 140%;
		display: block;
		margin-top: 20px;
		font-size: 14px;

		&:hover {
			background-color: #ffcc8a;
			color: #323440;
		}
	}
}
